.syntax--constant {
  color: @hue--5;

  &.syntax--character.syntax--escape {
    color: @hue--2;
  }

  &.syntax--numeric {
    color: @hue--5;
  }

  &.syntax--other.syntax--color {
    color: @hue--2;
  }

  &.syntax--other.syntax--symbol {
    color: @hue--5;
  }
}
