.syntax--entity {
  &.syntax--name.syntax--function {
    color: @color--cyan;
  }

  &.syntax--name.syntax--type {
    color: @color--orange;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @color--orange;
  }

  &.syntax--name.syntax--class,
  &.syntax--name.syntax--type.syntax--class {
    color: @color--orange;
  }

  &.syntax--name.syntax--section {
    color: @color--cyan;
  }

  &.syntax--name.syntax--tag {
    color: @color--red;
  }

  &.syntax--other.syntax--attribute-name {
    color: @color--orange;

    &.syntax--id {
      color: @color--cyan;
    }
  }
}
