.syntax--keyword {
  color: @hue--2;

  &.syntax--control {
    color: @hue--2;
  }

  &.syntax--accessor {
    color: @syntax-text-color;

    & .syntax--module {
      color: @hue--2;
    }
  }

  &.syntax--other.syntax--special-method {
    color: @hue--1;
  }

  &.syntax--other.syntax--unit {
    color: @hue--5;
  }
}
