.syntax--markup {
  &.syntax--bold {
    color: @color--orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @color--blue;
  }

  &.syntax--deleted {
    color: @color--red;
  }

  &.syntax--italic {
    color: @color--blue;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @color--cyan;
  }

  &.syntax--inserted {
    color: @color--orange;
  }

  &.syntax--list {
    color: @color--red;
  }

  &.syntax--quote {
    color: @color--orange;
  }

  &.syntax--raw.syntax--inline {
    color: @color--orange;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;

  &.syntax--heading {
    color: @color--green;
  }
}
