.syntax--markup {
  &.syntax--bold {
    color: @hue--5;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @hue--2;
  }

  &.syntax--deleted {
    color: @hue--4;
  }

  &.syntax--italic {
    color: @hue--2;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @hue--1;
  }

  &.syntax--inserted {
    color: @hue--5;
  }

  &.syntax--list {
    color: @hue--4;
  }

  &.syntax--quote {
    color: @hue--5;
  }

  &.syntax--raw.syntax--inline {
    color: @hue--5;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;

  &.syntax--heading {
    color: @hue--3;
  }
}
