.syntax--meta {
  &.syntax--brace {
    color: darken(@hue--5, 5%);
  }

  &.syntax--class {
    color: @hue--5;
  }

  &.syntax--link {
    color: @hue--5;
  }

  &.syntax--require {
    color: @hue--1;
  }

  &.syntax--selector {
    color: @hue--2;
  }

  &.syntax--separator {
    background-color: @foreground--3;
    color: @syntax-text-color;
  }
}

.syntax--comment {
  color: @syntax-comment-color;
}

.syntax--storage {
  color: @hue--2;
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--support {
  &.syntax--class {
    color: @hue--5;
  }

  &.syntax--function,
  &.syntax--constant {
    color: @hue--2;
  }

  &.syntax--any-method {
    color: @hue--1;
  }
}
