.syntax--string {
  color: @hue--5;

  &.syntax--regexp {
    color: @hue--2;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @hue--5;
    }
  }

  &.syntax--other.syntax--link {
    color: @hue--4;
  }
}
