.syntax--variable {
  color: @hue--4;

  &.syntax--variable.syntax--definition.syntax--punctuation {
    color: darken(@hue--4, 5%);
  }

  &.syntax--interpolation {
    color: darken(@hue--4, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @hue--3;

    & ~ .syntax--bracket {
      color: @foreground--0;
    }
  }
}
