// These colors are specific to the theme. Do not use in a package!

@foreground--1: #282a2e;
@foreground--2: rgba(15, 15, 15, 1);
@foreground--3: rgba(0, 0, 0, 1);
@background--1: #d5d8d6;
@background--2: #969896;
@background--3: #373b41;
@color--cyan: rgba(0, 200, 200, 1);
@color--blue: #1299ad;
@color--purple: @color--blue;
@color--green: rgba(120, 230, 150, 1);
@color--red: #ef4e7c;
@color--orange: #f37055;
@color--orange2: #f79532;

// General colors
@syntax-text-color: @foreground--1;
@syntax-cursor-color: white;
@syntax-selection-color: @background--3;
@syntax-background-color: @background--1;
@syntax-comment-color: @background--2;

// Guide colors
@syntax-wrap-guide-color: @background--2;
@syntax-indent-guide-color: @foreground--3;
@syntax-invisible-character-color: @foreground--3;

// For find and replace markers
@syntax-result-marker-color: @foreground--2;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @foreground--1;
@syntax-gutter-text-color-selected: @background--1;
@syntax-gutter-background-color: darken(@background--1, 2%);
@syntax-gutter-background-color-selected: darken(@background--1, 30%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @color--blue;
@syntax-color-added: @color--green;
@syntax-color-modified: @color--orange;
@syntax-color-removed: @color--red;
